.dealer-header {
    background-image: url(https://t4.ftcdn.net/jpg/04/64/99/31/360_F_464993155_P0xFAgAWo3EYTuiyu62zQkj3OWamMslW.jpg);
    background-size: cover;
    height: 700px;
    color: white;
}

.dealer-stats {
    color: white;
}